
<div class="container h-100">
  <div class="row align-self-center h-100">

    <div class="col-lg-6 landing-left mx-auto">
      <div class="jumbotron" style="background-color: transparent;">
      <%= render 'devise/shared/dummy_phone' %>
      </div>
      </div>


    <div class="col-lg-6 landing-right text-center d-flex align-items-center mx-auto">
      <div class="jumbotron" style="background-color: transparent;">
        <div class="form-login box">

          <% eng = :en %>
          <% jap = :ja %>
          <% if I18n.locale == jap %>
              <h2 class="core-sprite-ja brand-name-img"></h2>
          <% elsif I18n.locale == eng %>
              <h2 class="core-sprite-en brand-name-img"></h2>
          <% end %>

          <!-- <h2 class="core-sprite brand-name-img"></h2> -->

          <h5 class="light-color"> <%= t("ins_message_html") %>

            <hr>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
             <%= render "shared/devisemes" %>

             <div class="form-group">
             <%= f.text_field :name, autofocus: true, placeholder: t("full_name"), class: "form-control" %>
              </div>

            <div class="form-group">

              <%= f.email_field :email, autofocus: true, autocomplete: t("email"), placeholder: t("email"), class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: t("password"), class: "form-control"  %>
            </div>

            <div class="form-group">

              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t("password_confirm"), class: "form-control"  %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary"%>
            </div>
          <% end %>

          <br>

          <p class="light-color" style="font-size:12px;"><%= t("policy_html") %> </p>
        </div>

        <div class="redirect-links box">
          <%= render "devise/shared/links" %>
        </div>


</div>
</div>
</div>
</div>
</div>
