
<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <!--%= image_tag @user.image.gsub!("_normal",""), width: '152', height: '152', class: "round-img" %-->
      <!-- %= image_tag avatar_url(@user), width: '152', height: '152', class: "round-img" % -->
      <!-- %= image_tag avatar_url(post.user), class: "post-author-icon" %-->
      <%= image_tag @user.avatar_thumbnail, width: '152', height: '152', class: "round-img" %>
  </div>

  <div class="col-md-8">
    <div class="row">
      <p class="username"><%= @user.name %></p>
      <% if @user == current_user %>
      <!-- button type="button" class="btn btn-outline-dark common-btn edit-profile-btn" style="font-weight: bold; margin: 5px 0 0 15px;height: 28px;line-height: 24px; padding: 0 24px; border-color: #dbdbdb; font-size: 14px;" -->

        <%= link_to t("edit_profile"), edit_user_registration_path, {class: "btn btn-outline-dark common-btn edit-profile-btn", style: "font-weight: bold; margin: 5px 0 0 15px;height: 28px;line-height: 24px; padding: 2px 24px; border-color: #dbdbdb; font-size: 14px;"}%>
        <button type="button" class="core-sprite-en setting" data-toggle="modal" data-target="#exampleModal"></button>
      <% end %>



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <!-- <div class="modal-dialog modal-dialog-centered justify-content-center" role="document" > -->
          <div class="modal-dialog modal-dialog-centered justify-content-center" role="document" >
            <div class="modal-content w-50" style="border-radius: 10px;">


              <div class="list-group text-center" style="border-radius: 15px">
                <a href="#" class="list-group-item item-group-item-action setting-modal"><%= t("change_password") %></a>
                <%= link_to t("logout"), destroy_user_session_path, method: :delete, class: "list-group-item item-group-item-action setting-modal" %>
                <!--#%= link_to t("logout"), destroy_user_session_path, method: :delete, class: "list-group-item item-group-item-action" %-->
                <a href="#" class="list-group-item item-group-item-action setting-modal" data-dismiss="modal"><%= t("cancel") %></a>

              </div>
            </div>
          </div>
        </div>





    </div>
    <div class="row">
      <b class="email"><%= @user.email %></b>
    </div>
    <div class="row word-wrap-bio">
      <a><%= @user.bio %></a>
    </div>
    <% if @user.website %>
    <div class="row word-wrap-bio">
      <a ><%= link_to @user.website, "http://#{@user.website}", target: :_blank, class: "website" %> </a>
    <% end %>
    </div>
  </div>



  <% @key = 0 %>
    <% @posts.each do |post| %>
    <% if post %>
      <% @key = 1 %>
    <% end %>
  <% end %>

  <div class= "profile-tab">
    <% if @user == current_user %>

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-link nav-item active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">POSTS</a>
      <a class="nav-link nav-item" id="nav-saved-tab" data-toggle="tab" href="#nav-saved" role="tab" aria-controls="nav-saved" aria-selected="false">SAVED</a>

    </div>
  </nav>

  <% end %>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
        <div class="row">
          <%= render "post",  {posts: @posts} %>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab">
      <div class="row">
        <%= render "post",  {posts: @saved} if @user == current_user %>
      </div>
    </div>

  </div>

</div>
</div>
