
<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <!--%= image_tag @user.image.gsub!("_normal",""), width: '152', height: '152', class: "round-img" %-->
      <!-- %= image_tag avatar_url(@user), width: '152', height: '152', class: "round-img" % -->
      <!-- %= image_tag avatar_url(post.user), class: "post-author-icon" %-->
      <!--%= image_tag @user.avatar_thumbnail, width: '152', height: '152', class: "round-img" %-->
      <%= image_tag @user.avatar, width: '152', height: '152', class: "round-img" %>
  </div>

  <div class="col-md-8">
    <div class="row">
      <p class="username"><%= @user.name %></p>
      <% if @user == current_user %>
      <!-- button type="button" class="btn btn-outline-dark common-btn edit-profile-btn" style="font-weight: bold; margin: 5px 0 0 15px;height: 28px;line-height: 24px; padding: 0 24px; border-color: #dbdbdb; font-size: 14px;" -->

        <%= link_to t("edit_profile"), edit_user_registration_path, {class: "btn btn-outline-dark common-btn edit-profile-btn", style: "font-weight: bold; margin: 5px 0 0 15px;height: 28px;line-height: 24px; padding: 2px 24px; border-color: #dbdbdb; font-size: 14px;"}%>
        <button type="button" class="core-sprite-en setting drop-button" data-toggle="modal" data-target="#exampleModal"></button>

        <% else %>


          <% if current_user.following?(@user) %>
            <%= button_to t("unfollow"), friendship_path(user_id: @user.id), method: :delete, class: "btn common-btn unfollow-profile-btn", style: "font-weight: bold; margin: 8px 0 0 15px; height: 28px; line-height: 24px; padding: 2px 24px; border-color: #dbdbdb; font-size: 14px;" %>
            <% elsif @user.following?(current_user) and !current_user.following?(@user) %>
              <%= button_to t("follow_back"), friendships_path(user_id: @user.id), class: "btn btn-primary follow-profile-btn", style: "font-weight: bold; margin: 8px 0 0 15px;height: 28px;line-height: 24px; padding: 2px 24px; font-size: 14px; color: white;"%>
          <% else %>
            <%= button_to t("follow"), friendships_path(user_id: @user.id), class: "btn btn-primary follow-profile-btn", style: "font-weight: bold; margin: 8px 0 0 15px;height: 28px;line-height: 24px; padding: 2px 24px; font-size: 14px; color: white;"%>
          <% end %>

      <% end %>



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <!-- <div class="modal-dialog modal-dialog-centered justify-content-center" role="document" > -->
          <div class="modal-dialog modal-dialog-centered justify-content-center" role="document" >
            <div class="modal-content w-50" style="border-radius: 10px;">


              <div class="list-group text-center" style="border-radius: 10px">
                <a href="#" class="list-group-item item-group-item-action setting-modal upload-button"><%= t("change_password") %></a>
                <%= link_to t("logout"), destroy_user_session_path, method: :delete, class: "list-group-item item-group-item-action setting-modal upload-button" %>
                <!--#%= link_to t("logout"), destroy_user_session_path, method: :delete, class: "list-group-item item-group-item-action" %-->
                <a href="#" class="list-group-item item-group-item-action setting-modal upload-button" data-dismiss="modal"><%= t("cancel") %></a>

              </div>
            </div>
          </div>
        </div>





    </div>

    <% if current_user.following?(@user) or @user==current_user %>

    <div class="row">
      <div class= "col-2 d-flex justify-content-center">
        <div style="font-size: 12px;"><button type="button" class="drop-button post-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#post"><h5><%= @user.posts.size %></h5></button></div>
      </div>
      <div class= "col-2 d-flex justify-content-center">
        <% if @user.followers.size > 0 %>
          <div style="font-size: 12px;"><button type="button" class="drop-button follow-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#followers"><h5><%= @user.followers.size %></h5></button></div>
        <% else %>
          <div style="font-size: 12px;"><button type="button" class="drop-button post-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#followers"><h5><%= @user.followers.size %></h5></button></div>
        <% end %>
      </div>
      <div class= "col-2 d-flex justify-content-center">
          <% if @user.following.size > 0 %>
            <div style="font-size: 12px;"><button type="button" class="drop-button follow-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#following"><h5><%= @user.following.size %></h5></button></div>
          <% else %>
            <div style="font-size: 12px;"><button type="button" class="drop-button post-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#following"><h5><%= @user.following.size %></h5></button></div>
          <% end %>
      </div>
    </div>
    <div class="row" style="margin-top: -10px;">
      <div class= "col-2 d-flex justify-content-center">
        <div style="font-size: 12px;"><button type="button" class="drop-button post-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#post"><%= t("posts") %></button></div>

      </div>
      <div class= "col-2 d-flex justify-content-center">
        <% if @user.followers.size > 0 %>
          <div style="font-size: 12px;"><button type="button" class="drop-button follow-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#followers"><%= t("followers") %></button></div>
        <% else %>
          <div style="font-size: 12px;"><button type="button" class="drop-button post-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#followers"><%= t("followers") %></button></div>
        <% end %>
      </div>
      <div class= "col-2 d-flex justify-content-center">
          <% if @user.following.size > 0 %>
            <div style="font-size: 12px;"><button type="button" class="drop-button follow-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#following"><%= t("following") %></button></div>
          <% else %>
            <div style="font-size: 12px;"><button type="button" class="drop-button post-button" style="border: 0px; background-color: #fafafa; box-shadow:none;" data-toggle="modal" data-target="#following"><%= t("following") %></button></div>
          <% end %>

      </div>
    </div>

    <% end %>

    <% if @user.followers.size > 0 %>
    <div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered justify-content-center" role="document" >
        <div class="modal-content w-50" style="border-radius: 10px;">
          <div class="list-group" style="border-radius: 10px">
            <% @user.followers.each do |follow| %>
            <%= link_to user_path(follow), class: "black_underline list-group-item item-group-item-action setting-modal upload-button", style: "color: black;" do %>
              <%= image_tag(follow.avatar_thumbnail, class: "follow-author-icon") %> <%= follow.name %>
            <% end %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <% if @user.following.size > 0 %>
    <div class="modal fade" id="following" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered justify-content-center" role="document" >
        <div class="modal-content w-50" style="border-radius: 10px;">
          <div class="list-group" style="border-radius: 10px">
            <% @user.following.each do |follow| %>
            <%= link_to user_path(follow), class: "black_underline list-group-item item-group-item-action setting-modal upload-button", style: "color: black;" do %>
              <%= image_tag(follow.avatar_thumbnail, class: "follow-author-icon") %> <%= follow.name %>
            <% end %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>









    <div class="row" style="margin-top:13px;">
      <b class="email"><%= @user.email %></b>
    </div>



    <% if current_user.following?(@user) or @user==current_user %>


    <div class="row word-wrap-bio">
      <a><%= @user.bio %></a>
    </div>
    <% if @user.website %>
    <div class="row word-wrap-bio">
      <a ><%= link_to @user.website, "http://#{@user.website}", target: :_blank, class: "website" %> </a>
    <% end %>
    </div>
  </div>



  <% @key = 0 %>
    <% @posts.each do |post| %>
    <% if post %>
      <% @key = 1 %>
    <% end %>
  <% end %>

<% @key_saved = 0 %>
<% if @user == current_user %>
    <% @saved.each do |post| %>
    <% if post %>
      <% @key_saved = 1 %>
    <% end %>
  <% end %>
<% end %>


  <div class= "profile-tab">

    <% if @user == current_user  %>

  <nav>


      <% if @user == current_user and @key_saved == 1 and @key==1 %>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist" style="margin-top: 50px; ">
        <a class="nav-link nav-item active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">POSTS</a>
        <a class="nav-link nav-item" id="nav-saved-tab" data-toggle="tab" href="#nav-saved" role="tab" aria-controls="nav-saved" aria-selected="false">SAVED</a>
      <% elsif @user == current_user and @key_saved == 1 and @key == 0 %>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist" style="margin-top: 50px; ">
        <a class="nav-link nav-item active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">POSTS</a>
        <a class="nav-link nav-item" id="nav-saved-tab" data-toggle="tab" href="#nav-saved" role="tab" aria-controls="nav-saved" aria-selected="false">SAVED</a>
      <% else %>
        <div class="nav nav-tabs-unsaved d-flex justify-content-center" id="nav-tab" role="tablist" style="margin-top: 50px; ">
      <% end %>
    </div>
  </nav>

  <% end %>
  <div class="tab-content" id="nav-tabContent">
    <% if @user == current_user %>
      <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab" style="margin-top: 10px;">
    <% else %>
      <br>

      <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab" style="margin-top: 40px;">
    <% end %>
        <div class="row">
          <%= render "post",  {posts: @posts} %>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab" style="margin-top: 10px;">
      <div class="row">
        <% if @user == current_user and @key_saved == 1 %>

        <%= render "post",  {posts: @saved} %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
</div>

</div>
