<% eng = :en %>
<% jap = :ja %>



<div class="container my-auto">
  <div class="row align-items-center my-auto justify-content-center">



    <div class="col-lg-6 landing-left mx-auto my-auto ">
      <div class="jumbotron align-self-center mr-3" style="background-color: transparent;">
      <%= render 'devise/shared/dummy_phone' %>
      </div>
      </div>


    <div class="col-lg-6 landing-right text-center d-flex align-items-center mx-auto my-auto">
      <div class="jumbotron align-self-center mr-3" style="background-color: transparent;">
      <div class="form-login box">
        <% eng = :en %>
        <% jap = :ja %>
        <% if I18n.locale == jap %>
            <%= link_to "Icon", root_path, class:"core-sprite-ja brand-name-img hide-text" %>
        <% elsif I18n.locale == eng %>
            <%= link_to "Icon", root_path, class:"core-sprite-en brand-name-img hide-text" %>
        <% end %>

        <h4><%= t("change_password") %></h4>

        <!-- <h5 class="light-color"> <%= t("reset_message_html") %> <h5> -->

          <div><br></div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">

            <%= render "devise/shared/error_messages", resource: resource %>

            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t("new_password"), class: "form-control  font-mid", style: "box-shadow: none;" %>
          </div>

          <div class="form-group">

            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t("password_confirm"), class: "form-control  font-mid", style: "box-shadow: none;" %>
          </div>

          <div class="actions">
            <%= f.submit t("change_password"), class: "btn btn-primary font-mid" %>
          </div>





          <br>
        <% end %>
      </div>

      <div class="redirect-links box">
      <div>  <%= render "devise/shared/links" %> </div>
      </div>

      </div>
      </div>
    </div>
    </div>
  </div>
</div>
