
<footer class="mt-auto">





<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggle-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mx-auto">
      <a href="" class="nav-item nav-link" href="#"><%= t("about") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("blog") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("jobs") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("help") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("api") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("privacy") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("terms") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("top_acc") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("hashtags") %></a>
      <a href="" class="nav-item nav-link" href="#"><%= t("locations") %></a>
        <!-- <a href="" class="nav-item nav-link" href="#">
          <!%= content_tag :li do %>
            <!%= link_to 'ENGLISH', locale: :en >
          <!% end unless current_page?(locale: :en) %>

          <!%= content_tag :li do %>
            <!%= link_to '日本語', locale: :ja >
          <!% end unless current_page?(locale: :ja) %>
        </a> -->



        <% eng = :en %>
        <% jap = :ja %>
        <!--% if I18n.locale == jap %>
            <!--%= link_to '<a href="" class="nav-item nav-link" href="#">ENGLiSH</a>'.html_safe %>
        <!--% elsif I18n.locale == eng %>
            <!--%= link_to '<a href="" class="nav-item nav-link" href="#">日本語</a>'.html_safe %>
        <!--% end % -->

        <%= content_tag :li do %>
        <div data-turbolinks="false"  style="padding: 1px -1px 5px; color: #8e8e8e !important; "><%= link_to '<div style="text-decoration: none; color: #8e8e8e; font-size: 14px;">🇺🇸 English</div>'.html_safe, {locale: :en}, {class: "navbar-brand hide-text flag-usa"} %></div>
        <% end unless current_page?(locale: :en) %>

        <%= content_tag :li do %>
        <div data-turbolinks="false" style="padding: 1px -1px 5px; color: #8e8e8e !important;"><%= link_to '<div style="text-decoration: none; color: #8e8e8e; font-size: 13px;"><strong>🇯🇵 日本語</strong></div>'.html_safe, {locale: :ja}, {class:"navbar-brand hide-text flag-jap"} %></div>
        <% end unless current_page?(locale: :ja) %>



        <!--%= link_to '<a href="" class="nav-item nav-link" href="#">日本語</a>', locale: :en %-->



    </div>
  </div>
</nav>
</footer>
