
<p><%= t("hello") %> <%= @resource.name%><%=t("comma") %></p>

<p><%=t("line2")%></p>

<p><%= link_to t("change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t("line3")%></p>
<p><%=t("line4")%></p>
