<!DOCTYPE html>
<html>
  <head>
    <title>locale-K7gram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>

    <body class="d-flex flex-column min-vh-100">
      <% if current_user %>
      <%=  render 'shared/navbar' %>
      <br><br><br>
      <% end %>
      <div class="container">
          <%= yield %>
      </div>

      <%= render 'shared/footer' %>

      <!-- % if flash.any? %>
        <script type="text/javascript">
            <!% flash.each do |key, value| %>
              <!% type = key.to_s.gsub('alert','error').gsub('notice', 'success') %>
              // if value != "You need to sign in or sign up before continuing."
              toastr.<!%= type %>('<!%=value%>')
              <!% end %>
        </script>
      <!%end%> -->



    </body>
  </html>
